# Задача 44
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца.
 
Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [36]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  robot
4  robot

In [37]:
pd.get_dummies(data['whoAmI']).head()

   human  robot
0   True  False
1  False   True
2   True  False
3  False   True
4  False   True

Код с one hot видом без применения get_dummies:

In [49]:
data1 = pd.DataFrame(random.sample([(False,True),(True,False)], counts=[10,10], k=20),columns=['human', 'robot'])
data1.head()

   human  robot
0  False   True
1   True  False
2  False   True
3   True  False
4  False   True